<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Hello Spring Security</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div th:replace="fragments/header :: header">...</div>

    <div class="alert alert-danger alert-dismissible" role="alert" th:if="${error}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;
    </span></button>
        <span class="sr-only">Error:</span>
        Brak połączenia z bazą danych!
    </div>

    <div th:replace="fragments/submenu :: submenu">...</div>

    <form th:action="@{/staff/password/change/save}" th:object="${passwords}" method="post">
        <div class="alert alert-danger alert-dismissible" role="alert" th:if="${error}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;
    </span></button>
            <span class="sr-only">Error:</span>
            Brak połączenia z bazą danych!
        </div>
        <fieldset>
            <div class="row">
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('actualPasswordConfirmed')} ? 'has-error'">
                    <label for="confirm-actual-password" class="col-lg-3 control-label"
                           th:text="#{reset.password.form.confirm.actual.password}"></label>

                    <div class="col-lg-5">
                        <input id="confirm-actual-password" type="password" th:field="*{actualPasswordConfirmed}"
                               class="form-control"/>
                        <label class="control-label" th:errors="*{actualPasswordConfirmed}">[error]</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('newPassword')} ? 'has-error'">
                    <label for="new-password" class="col-lg-3 control-label"
                           th:text="#{reset.password.form.confirm.new.password}"></label>

                    <div class="col-lg-5">
                        <input id="new-password" type="password" th:field="*{newPassword}"
                               class="form-control"/>
                        <label class="control-label" th:errors="*{newPassword}">[error]</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmNewPassword')} ? 'has-error'">
                    <label for="confirm-new-password" class="col-lg-3 control-label"
                           th:text="#{reset.password.form.confirm.new.password.confirm}"></label>

                    <div class="col-lg-5">
                        <input id="confirm-new-password" type="password" th:field="*{confirmNewPassword}"
                               class="form-control"/>
                        <label class="control-label" th:errors="*{confirmNewPassword}">[error]</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <input type="submit" value="save"/>
    </form>
</div>
</body>
</html>