<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Hello Spring Security</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div th:replace="fragments/header :: header">...</div>

    <div class="alert alert-danger alert-dismissible" role="alert" th:if="${error}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;
    </span></button>
        <span class="sr-only">Error:</span>
        Brak połączenia z bazą danych!
    </div>

    <div th:replace="fragments/submenu :: submenu">...</div>
</div>
</body>
</html>