<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dodaj pacjenta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Bootstrap -->
    <link href="../../bootstrap/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<h1>Dodaj pacjenta</h1><br/>

<div class="form">
    <form th:action="@{add/addPatient}" th:object="${patientEntity}" method="post" class="addpatient-form">
        <h4>Dane:</h4>
        <div th:object="${personalData}">
            <div><label> Imie: <input type="text" th:field="${personalDataEntity.firstname}"/> </label></div>
            <div><label> Nazwisko: <input type="text" th:field="${lastname}"/> </label></div>
            <div><label> Data urodzenia: <input type="datetime" th:field="${birthdate}"/> </label></div>
            <div><label> Numer PESEL: <input type="text" th:field="${peselnumber}"/> </label></div>
        </div>
        <div><label> Waga: <input type="text" name="weight"/> </label></div>
        <div><label> Wzrost: <input type="text" name="height"/> </label></div>
        <div><label> Grupa krwi: <select name="bloodtype">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="AB">AB</option>
            <option value="ZERO">ZERO</option>
        </select>
            <select name="bloodantigen">
                <option value="rhp">RH+</option>
                <option value="rhm">RH-</option>
            </select> </label></div>
        <div><label> Płeć: <select name="gender">
            <option value="man">Mężczyzna</option>
            <option value="woman">Kobieta</option>
        </select></label></div>
        <div><label> Numer telefonu: <input type="text" name="phonenumber"/> </label></div>
        <h4>Adres: </h4>
        <div><label> Kraj pochodzenia: <input type="text" name="country"/> </label></div>
        <div><label> Miasto: <input type="text" name="city"/> </label></div>
        <div><label> Kod pocztowy: <input type="text" name="postalcode"/> </label></div>
        <div><label> Ulica: <input type="text" name="street"/> </label></div>
        <h4>Adres do korespondencji: </h4>
        <div><label> Kraj pochodzenia: <input type="text" name="country"/> </label></div>
        <div><label> Miasto: <input type="text" name="city"/> </label></div>
        <div><label> Kod pocztowy: <input type="text" name="postalcode"/> </label></div>
        <div><label> Ulica: <input type="text" name="street"/> </label></div>
        <h4>Przyjęcie: </h4>
        <div><label> Oddział: <input type="text" name="department"/> </label></div>
        <div><label> Numer pokoju: <input type="text" name="roomnumber"/> </label></div>
        <div><input type="submit" value="Dodaj pacjenta"/></div>
    </form>
</div>

</body>
</html>