<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar" th:fragment="header" style="background-color: white; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">OPMS</a>
        </div>
        <ul class="nav navbar-nav">
            <li sec:authorize="hasRole('ROLE_ROLE')" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Role
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" th:href="@{/admin/roles/create}">Stwórz</a></li>
                    <li><a href="#" th:href="@{/admin/roles/manage}">Zarządzaj</a></li>
                </ul>
            </li>

            <li  sec:authorize="hasAnyRole('ROLE_ADD_TEST_DEF', 'ROLE_VIEW_TEST_DEF')" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Badania
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li sec:authorize="hasRole('ROLE_ADD_TEST_DEF')"><a href="#" th:href="@{/test-definition/add}">Dodaj</a></li>
                    <li sec:authorize="hasRole('ROLE_VIEW_TEST_DEF')"><a href="#" th:href="@{/test-definition/crud}">Szukaj</a></li>
                </ul>
            </li>
            <li sec:authorize="hasRole('ROLE_ADD_STAFF')"><a href="#" th:href="@{/admin/staff/register}">Dodaj personel</a></li>
            <li sec:authorize="hasRole('ROLE_ADD_PATIENT')"><a href="#" th:href="@{/patient/add}">Dodaj pacjenta</a></li>
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dane
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" th:href="@{/staff/showData}">Twoje dane</a></li>
                    <li><a href="#" th:href="@{/staff/editData}">Edytuj dane</a></li>
                    <li><a href="#" th:href="@{/staff/password/change}">Zmień hasło</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/profile}">Profil</a></li>
            <li><a href="/logout" th:href="@{#}" onclick="$('#logoutForm').submit();">Wyloguj</a></li>
            <form style="visibility: hidden" id="logoutForm" method="post" action="#" th:action="@{/logout}"></form>
        </ul>
    </div>
</nav>

</body>
</html>