@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Audiowide|Varela+Round&amp;subset=latin-ext);
body {
    background-color: rgba(3, 195, 255, 0.86); /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

label {
    padding-top: 5px;
}

h1 {
    padding-top: 70px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    color: white;
    font-size: 80px;
}

.form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    z-index: 1;
    background: #FFFFFF;
    max-width: 600px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 250px;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input[type=submit] {
    bottom: 10px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgba(3, 175, 239, 0.8);
    width: 150px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
}

.form input[type=submit]:hover,.form input[type=submit]:active,.form input[type=submit]:focus {
    background: rgba(3, 162, 222, 0.8);
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #039bd5;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.form input[type=button] {
    bottom: 10px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgba(3, 175, 239, 0.8);
    width: 150px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
}

#message-error {
    text-align: center;
    font-size: 13px;
    color: red;
    font-weight: 600;
}