<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Definicje badań</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header">...</div>


    <h3 th:text="${patientId}? #{test.add} : #{testdefinition.crud.title}">Definicje badań</h3>

    <form class="navbar-form navbar-right" th:action="@{/test-definition/crud/search}" role="search" th:object="${searchBean}"
          method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nazwa" th:placeholder="#{testdefinition.name}" th:field="*{searchTerm}"/>
            <div class="checkbox">
                <label for="deprecatedCheckbox" th:text="#{testdefinition.deprecated}">Przestarzały</label>
                <input id="deprecatedCheckbox" type="checkbox" class="form-control" th:field="*{isDeprecated}"/>
            </div>
        </div>
        <button type="submit" class="btn btn-default" th:text="#{testdefinition.search}">Szukaj</button>
    </form>
</div>

<div class="container">
    <form class="form-inline" th:action="@{/test-definition/crud/table}" method="post">
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{testdefinition.name}">Nazwa</th>
                <th th:text="#{testdefinition.deprecated}">Przestarzały</th>
                <th th:text="#{actions}">Akcje</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="testDefinition, iter : ${testDefinitions}">
                <td th:text="${testDefinition.name}">Przykładowa nazwa</td>
                <td th:text="${testDefinition.deprecated}">Przykładowa wartość</td>
                <td>
                    <button type="submit" class="btn btn-default" name="rowIndex" th:value="${iter.index}">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        <th:block th:text="#{browse}">Przeglądaj Przykład</th:block>
                    </button>

                    <a th:if="${patientId}" class="btn btn-default"
                       th:href="@{${'/test-instance/add'}(definitionId=${testDefinition.id},patientId=${patientId})}">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        <th:block th:text="#{test.add}">Dodaj</th:block>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <div th:if="${not #lists.isEmpty(testDefinitions)}">
        <ul class="pagination">
            <li th:class="${pageable.pageNumber eq 0} ? 'disabled' : ''">
                <a th:if="${not (pageable.pageNumber eq 0)}"
                   th:href="@{${''}(pageNumber=${pageable.pageNumber - 1},size=${pageable.pageSize})}" th:text="#{testdefinition.previous}">Previous</a>
                <a th:if="${(pageable.pageNumber eq 0)}"
                   href="javascript:void(0);" th:text="#{testdefinition.previous}">Previous</a>
            </li>

            <li th:each="pageNo : ${#numbers.sequence(0, totalPages - 1)}"
                th:class="${pageable.pageNumber eq pageNo}? 'active' : ''">
                <a th:if="${pageable.pageNumber  eq pageNo}" href="javascript:void(0);">
                    <span th:text="${pageNo + 1}"></span>
                </a>
                <a th:if="${not (pageable.pageNumber  eq pageNo)}"
                   th:href="@{${''}(pageNumber=${pageNo},size=${pageable.pageSize})}">
                    <span th:text="${pageNo + 1}"></span>
                </a>

            </li>
            <li th:class="${(pageable.pageNumber + 1) ge totalPages} ? 'disabled' : ''">
                <a th:if="${not ((pageable.pageNumber + 1) ge totalPages)}"
                   th:href="@{${''}(pageNumber=${pageable.pageNumber+1},size=${pageable.pageSize})}" th:text="#{testdefinition.next}">Next</a>
                <a th:if="${((pageable.pageNumber + 1) ge totalPages)}"
                   href="javascript:void(0);" th:text="#{testdefinition.next}">Next</a>
            </li>
        </ul>
    </div>

    <div th:if="${#lists.isEmpty(testDefinitions)}" th:text="#{testdefinition.noelements}">
        Nie znaleziono
    </div>
</div>
</body>
</html>