<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dodaj pacjenta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <div th:replace="fragments/header :: header">...</div>

    <th:block th:object="${patientEntity}">

        <div class="panel-group" id="accordion">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div onclick="$('.collapse').collapse()" class="checkbox">
                            <label data-toggle="collapse" data-target="#collapseOne">
                                Informacje dotyczące pacjenta
                            </label>
                        </div>
                    </h4>
                </div>

                <div th:id="'collapseOne'" class="panel-collapse collapse">
                    <div class="panel-body">

                        <table class="table">
                            <tr><th><h3>Dane:</h3></th><th></th></tr>

                            <tr><th> Imie: </th><td th:text="*{personalDataEntity.firstName}"></td></tr>
                            <tr><th> Nazwisko: </th><td th:text="*{personalDataEntity.lastName}"></td></tr>
                            <tr><th> Data urodzenia: </th><td th:text="*{personalDataEntity.birthDate}"></td></tr>
                            <tr><th> Numer PESEL: </th><td th:text="*{personalDataEntity.peselNumber}"></td></tr>

                            <tr><th> Waga: </th><td th:text="*{patientData.weight}"></td></tr>
                            <tr><th> Wzrost: </th><td th:text="*{patientData.height}"></td></tr>
                            <tr><th> Grupa krwi: </th><td th:text="*{patientData.bloodType}"></td>
                                <td th:text="*{patientData.bloodAntigen}">
                                    <!--<option value="true">RH+</option>-->
                                    <!--<option value="false">RH-</option>-->
                                </td></tr>
                            <tr><th> Płeć: </th><td th:text="*{patientData.gender}"></td></tr>

                            <tr ><th> Numer telefonu: </th><td name="phonenumber"></td></tr>

                            <tr><th><h3>Adres: </h3></th><th></th></tr>
                            <tr th:object="${patientEntity.personalDataEntity.address}"><th> Kraj pochodzenia: </th><td th:text="*{country}"></td></tr>
                            <tr th:object="${patientEntity.personalDataEntity.address}"><th> Miasto: </th><td th:text="*{city}"></td></tr>
                            <tr th:object="${patientEntity.personalDataEntity.address}"><th> Kod pocztowy: </th><td th:text="*{postalCode}"></td></tr>
                            <tr th:object="${patientEntity.personalDataEntity.address}"><th> Ulica: </th><td th:text="*{street}"></td></tr>

                            <!--<tr><th><h3>Adres korespondencyjny: </h3></th><th></th></tr>-->
                            <!--<tr th:object="${patientEntity.personalDataEntity.mailAddress}"><th> Kraj pochodzenia: </th><td th:text="*{country}"></td></tr>-->
                            <!--<tr th:object="${patientEntity.personalDataEntity.mailAddress}"><th> Miasto: </th><td th:text="*{city}"></td></tr>-->
                            <!--<tr th:object="${patientEntity.personalDataEntity.mailAddress}"><th> Kod pocztowy: </th><td th:text="*{postalCode}"></td></tr>-->
                            <!--<tr th:object="${patientEntity.personalDataEntity.mailAddress}"><th> Ulica: </th><td th:text="*{street}"></td></tr>-->

                            <!--<tr th:object="${patientEntity.patientData}"><th> Oddział: </th><td th:text="*{department}"></td></tr>-->
                            <!--<tr th:object="${patientEntity.patientData}"><th> Pokój: </th><td th:text="*{room}"></td></tr>-->

                        </table>


                        <form class="form-inline" th:action="@{/patient/info/edit}" method="post">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                <th:block>Edytuj</th:block>
                            </button>
                        </form>


                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div onclick="$('.collapse').collapse()" class="checkbox">
                            <label data-toggle="collapse" data-target="#collapseTests">
                                Badania
                            </label>
                        </div>
                    </h4>
                </div>

                <div th:id="'collapseTests'" class="panel-collapse collapse">
                    <div class="panel-body">

                        miejsce na liste badań


                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div onclick="$('.collapse').collapse()" class="checkbox">
                            <label data-toggle="collapse" data-target="#collapseTestAdd">
                                Zrób badanie
                            </label>
                        </div>
                    </h4>
                </div>

                <div th:id="'collapseTestAdd'" class="panel-collapse collapse">
                    <div class="panel-body">

                        miejsce na formulaż dodawania badania


                    </div>
                </div>
            </div>
        </div>

    </th:block>

</div>

</body>
</html>